@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  text-align: center;
}

#page1 {
  font-size: 64px;
  font-weight: 300;
}

.button {
  background-color: rgb(96, 170, 216);
  margin: 20px;
  font-weight: 300;
  height: 80px;
  font-size: 30px;
}

.link {
  color: rgb(96, 170, 216);
  font-weight: 300;
}
